<% layout("/layouts/boilerplate.ejs") %>


    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-8">
                <h3 class="text-center">Edit Your Listing</h3>

                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation"  novalidate> 
                    <div class="mb-3">
                        <label for="title" class="form-label mb-1">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required/>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label mb-1">Description</label>
                        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                        <div class="invalid-feedback">
                            please enter a short description
                          </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label mb-1">Image URL</label> 
                        <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control"  required/>
                        <div class="invalid-feedback">
                            please enter  Image URL
                          </div>
                    </div>

                    <!-- Price and Country in One Row -->
                    <div class="row">
                        <div class="col-md-6">
                            <label for="price" class="form-label mb-1">Price</label> 
                            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control"  required/>
                            <div class="invalid-feedback">
                                please enter a valid price
                              </div>
                        </div>

                        <div class="col-md-6">
                            <label for="country" class="form-label mb-1">Country</label>
                            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required />
                            <div class="invalid-feedback">
                                please ente the country name
                              </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label mb-1">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control"  required/>
                        <div class="invalid-feedback">
                            loaction should be valid
                        </div> 
                    </div>

                    <button type="submit" class="btn btn-dark w-100">Edit</button>
                </form>
            </div>
        </div>
    </div>

<script src="/js/script.js"></script>


